body{
    margin: 0;
}
.background{
    background-image: url("/Pictures/HomepagePic.webp");
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}
.background::after{
    content: "";
    background: rgba(31, 29, 29, 0.76);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.background>*{
    z-index: 2;
    position: ;
}


